/**
 * @file
 * 
 * CSS for cranburgers metalike
 */
 
body {
  background-image:url('cranburgers.jpg');
}   

#content {
  background: white;
  padding: 10px;
  width: 50%;
  margin: 80px auto;
}

iframe {
  float: right;
}
