%html
  %head
    %title Metalike by Cranburgers
  %body
    %div.hello-world
      Hello, NKO
      %br
      Love, Cranburgers
    %div.bookmarklet
      Drag this bookmarklet into your browser bar:
      %a{ href: bookmarklet, title: 'Bookmarklet' } Metalike
